.clear {
    clear: both;
}

#iphone {
	border: solid;
	border-color: #433f3f;
    border-style: inset;
	border-width: 3px;
	height: 450px;
	width: 210px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 59px 100px -19px #212121;
	background-color: #212121;
	margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    position: absolute;
}

#camera {
	border: solid;
	border-color: #191717;
    border-style: inset;
	border-width: 1px;
	border-radius: 50%;
	height: 5.5px;
	width: 5.5px;
	margin: 20px 10px 10px 60px;
	float: left;
    background-color: #393636;
}

#speaker {
	border: solid;
	border-color: #191717;
    border-style: inset;
	border-width: 2px;
	border-radius: 4px 4px 4px 4px;
	height: 5px;
	width: 45px;
	margin: 20px 10px 10px 7px;
	float: left;
    background-color: #242222;
}

#calculator {
	margin: 50px 5px 5px 5px;
}

#home {
	border: solid;
	border-color: #433f3f;
    border-style: inset;
	border-width: 1px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin: auto;
    background-color: #171717;
    
    
}

.orange {
    background-color: rgb(240, 135, 66);
}

.grey {
    background-color: rgb(186, 181, 178);
}

.white {
    background-color: rgb(248, 244, 242);
}

p {
    color: white;
    font-family: helvetica;
    font-size: 48px;
    border: solid;
    margin-top: auto;
    margin-bottom: auto;
}

.number, .event-button, .clearout, .equals, .grey {
    float: left;
    font-family: helvetica;
    text-align: center;
	padding-top: 12px;
    height: 50px;
    width: 50px;
    border: solid;
    box-sizing: border-box;    
	
}

.display {
    border: thin;
    border-color: black;
    box-sizing: border-box;
    height: 100px;
    width: 200px;
    float: left;
    text-align: right;
    background-color: black;
}

#zero {
    border: solid;
    box-sizing: border-box;
    height: 50px;
    width: 100px;
    padding-left: 18.75px;
    text-align: left;
    float: left;
    font-family: helvetica;
}

.highlight {
    border: solid;
    border-color: red;
}

.clicked {
    border-color: red;
}









