.clear {
    clear: both;
}

.orange {
    background-color: rgb(240, 135, 66);
}

.grey {
    background-color: rgb(186, 181, 178);
}

.white {
    background-color: rgb(248, 244, 242);
}

p {
    color: white;
    font-family: lobster;
    font-size: 48px;
    border: solid;
    margin-top: auto;
    margin-bottom: auto;
}

.number, .event-button, .clearout, .equals, .grey {
    float: left;
    font-family: lobster;
    text-align: center;
    height: 50px;
    width: 50px;
    border: solid;
    box-sizing: border-box;
}

.display {
    border: thin;
    border-color: black;
    box-sizing: border-box;
    height: 100px;
    width: 200px;
    float: left;
    text-align: right;
    background-color: black;
}

#zero {
    border: solid;
    box-sizing: border-box;
    height: 50px;
    width: 100px;
    padding-left: 18.75px;
    text-align: left;
    float: left;
    font-family: lobster;
}

.highlight {
    border: solid;
    border-color: red;
}

.clicked {
    border-color: red;
}









