.clear {
    clear: both;
}

#calculator {
    margin-left: auto;
    margin-right: auto;
}

p {
    color: white;
    font-family: lobster;
    font-size: 48px;
    border: solid;
    margin-top: auto;
    margin-bottom: auto;
}

#calculator .display {
    border: thin;
    border-color: black;
/*    box-sizing: border-box;*/
    height: 100px;
    width: 200px;
    float: left;
    text-align: right;
    background-color: black;
}

#calculator #zero {
    border: solid;
    box-sizing: border-box;
    height: 50px;
    width: 100px;
    float: left;
    padding-left: 18.75px;
    text-align: left; 
    font-family: lobster;
}

#calculator .number {
    border: solid;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    font-family: lobster;
}

#calculator .event-button {
    border: solid;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    font-family: lobster;
}

#calculator .clearout {
    border: solid;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    font-family: lobster;
}

#calculator .equals {
    border: solid;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    font-family: lobster;
}

#calculator .highlight {
    border: solid;
    border-color: red;

}

#calculator .orange {
    background-color: rgb(240, 135, 66);
    
}

/*
#calculator .grey {
    background-color: rgb(186, 181, 178);
}
*/

#calculator .grey {
    background-color: rgb(186, 181, 178);
    border: solid;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    font-family: lobster;
}


#calculator .white {
    background-color: rgb(248, 244, 242);
}

.clicked {
    border-color: red;
}









